@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="@false" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Style="height: 100vh;">
    <MudAppBar Elevation="1" Fixed="@true" Class="bg-white text-black shadow">
        <div class="w-24"></div>
        <MudIcon Icon="@CustomIcons.NextId" Size="Size.Large" Class="h-12 w-12"></MudIcon>
        <MudText Typo="Typo.inherit" Class="ml-3 text-lg font-bold">CORE SERVICE</MudText>
        <div class="w-6"></div>
        <NavBar></NavBar>
    </MudAppBar>
    <MudMainContent Class="bg-gray-100" Style="height: 100vh;">
        <div class="mx-28">
            <div class="ml-2">
                @Body
            </div>
        </div>
    </MudMainContent>
</MudLayout>
